/[[]PROSDEV] Jollibee Inventory Tracking/nbproject/private/
/[[]PROSDEV] Jollibee Inventory Tracking/build/
/Frequency Count/nbproject/private/
/Frequency Count/build/
/Test/nbproject/private/
/Test/build/
/[[]PROSDEV] Jollibee Inventory Tracking/dist/