<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ViewWarehouse</servlet-name>
        <servlet-class>Servlets.ViewWarehouse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewItem</servlet-name>
        <servlet-class>Servlets.ViewItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSupplier</servlet-name>
        <servlet-class>Servlets.ViewSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRequest</servlet-name>
        <servlet-class>Servlets.ViewRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleWarehouse</servlet-name>
        <servlet-class>Servlets.HandleWarehouse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleSupplier</servlet-name>
        <servlet-class>Servlets.HandleSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleItem</servlet-name>
        <servlet-class>Servlets.HandleItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewWarehouse</servlet-name>
        <url-pattern>/Warehouse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewItem</servlet-name>
        <url-pattern>/Item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSupplier</servlet-name>
        <url-pattern>/Supplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRequest</servlet-name>
        <url-pattern>/Request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleWarehouse</servlet-name>
        <url-pattern>/HandleWarehouse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleSupplier</servlet-name>
        <url-pattern>/HandleSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleItem</servlet-name>
        <url-pattern>/HandleItem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
