a{
	text-decoration: none !important;
}

.name{
 	text-decoration: none !important;
 	padding: 0px 0px !important;
}

.name:focus{
	outline: none !important;
	outline-offset: 0px;
}

.nopad{
    padding: 0px 0px 0px 0px !important;
}

.leftelem{
    padding-right: 15px !important;
}

.rightelem{
    padding-left: 15px !important;
}